<div class="ui raised segment">
    <h2 class="ui header">Demo Form with Builder</h2>

	<form #f="ngForm" (ngSubmit)="onSubmit()">
        <input type="text" id="value1">
        <button type="submit" class="ui button">Submit</button>
    </form>        
    <!--
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" class="ui form">
          <div class="field">
              <label for="skuInput">SKU</label>
              <input type="text" id="skuInput" placeholder="SKU" [formControl]="myForm.controls['sku']">
          </div>
          <button type="submit" class="ui button">Submit</button>

    </form>
-->
</div>